* {
    -webkit-tap-highlight-color: transparent;
    border-radius: .25em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    max-width: 42em;
    padding: 10vh .5em;
    background: #2d2d2d;
    color: white;
    font-family: system-ui;
}

section {
    padding: 0.75em;
}

h1 {
    text-align: center;
}

h2,
h3 {
    margin: .5em 0;
    font-family: monaco;
    text-decoration-line: underline;
    text-decoration-color: #7997f3;
}

blockquote {
    padding-left: 0.75em;
    margin: 0;
    border-left: 0.5em solid #5b90e5;
}

aside {
    display: flex;
    border: 1px solid #4287f5;
    margin: 1em 0;
    padding: 1em;
    background: #21344b;
}

aside p {
    margin: auto 0;
}

aside img {
    margin: auto 1em auto 0;
}

@media (max-width: 600px) {
    pre[class*=language-] {
        font-size: 12px;
    }
}

a {
    color: #7997f3;
}

a:not(:hover) {
    text-decoration: none;
}

img {
    display: block;
    margin: .75em auto;
    max-width: 100%;
    height: auto;
}